<script>
  function fetchJSONPromise(url, opts = {}) {
    return new Promise((resolve, reject) => {
      fetch(url, opts)
        .then(response => response.json())
        .then(data => resolve(data))
        .catch(err => reject(err));
    })
  }
  var albumUrl = "https://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=8cda53e1ad0382cccdc5fafedc1947e0&photoset_id=72157669145745445&user_id=124897308%40N04&format=json&nojsoncallback=1";

  function getItemSizes(itemUrl) {
    return new Promise((resolve, reject) => {
      const opts =   {
        "async": true,
        "crossDomain": true,
        "method": "GET",
        "headers": {}
      }

      fetchJSONPromise(itemUrl, opts).then(data => {
        console.log(data)

        resolve(data);
      }).catch(err => {
        reject(err);
      })
    })
  }

  fetchJSONPromise(albumUrl).then(data => {
    console.log(data);
    const itemPromises = data.photoset.photo.map(photo => {
      const itemUrl = "https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&api_key=8cda53e1ad0382cccdc5fafedc1947e0&photo_id=" + photo.id + "&format=json&nojsoncallback=1";
      return getItemSizes(itemUrl);
    });
    Promise.all(itemPromises).then((dataArray) => {
      console.log('Done')
      dataArray.forEach(image => {
        let srcset = '';
        image.sizes.size.forEach(size => {
          srcset += size.source + " " + size.width + "w, ";
        });
        const src = image.sizes.size.find(item => item.label === 'Medium').source;
        const item = document.createElement('a');
        item.classList.add('gallery-thumbnail');
        item.setAttribute('href', src);
        item.setAttribute('data-lazy-image-src', src);
        item.setAttribute('data-srcset', srcset);
        item.setAttribute('data-lazy-image-srcset', srcset);
        item.setAttribute('data-lazy-image-srcset-sizes', '(max-width: 400px) 130px, 300px');
        item.setAttribute('data-fancybox', 'gallery');
        const innerDiv = document.createElement('div');
        innerDiv.setAttribute('data-lazy-image-parent', true);
        innerDiv.setAttribute('data-width-height-ratio', "4:3");
        item.append(innerDiv);
        const gallery = document.querySelector('.flickr-gallery');
        gallery.append(item);
      })
        
      initLazyLoad();
    });
  });

</script>
<h2>Gallery</h2>
<div class="flickr-gallery image-gallery" data-thumbnail-dimensions="4:3" data-infinity-image-loader>

</div>