{{ $flickr_api_key := (or .flickr_api_key .context.Site.Params.flickr_api_key) }}
{{ $photoset_url := (strings.TrimSuffix "/" .photoset_url) }}
{{ $photoset_url := (strings.TrimSuffix "/show" $photoset_url) }}
{{ $photoset_url_parts := (split $photoset_url "/") }}
{{ $flickr_user_id := (or .flickr_user_id  ( index $photoset_url_parts 4 ) .context.Site.Params.flickr_user_id) }}
{{ $photoset_id := .photoset_id }}
{{ if .photoset_url }}
  {{ $photoset_id = (path.Base $photoset_url)}}
{{ end }}
<div class="flickr-gallery image-gallery" data-album-url="https://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key={{ $flickr_api_key }}&photoset_id={{ $photoset_id }}&user_id={{ $flickr_user_id }}&format=json&nojsoncallback=1" data-thumbnail-dimensions="4:3" data-infinity-image-loader data-gallery-id-{{$photoset_id}} data-flickr-gallery data-flickr-captions="{{ .flickr_captions }}">
  <!-- <div class="initial-loader loader"></div> -->
</div>